<section class="section'">
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
          <div class="navbar-brand">
           <strong>
            <%= link_to 'recipe_notebook', root_path, class: "navbar-brand navbar-item is-family-secondary is-size-5" %>
          </strong>
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if logged_in? %>
                <a>
                  <%= link_to 'New recipe', new_recipe_path, class:"button is-black" %>
                </a>
                <a class="button is-light">
                  <strong><%= link_to 'Log out', logout_path, method: :delete %></strong>
                </a>
                <div class="navbar-item">
                  <%= @current_user.handle %>
                </div>
              <% else %>
                <a class="button is-light">
                  <strong><%= link_to 'Sign up', users_signup_path %></strong>
                </a>
                <a class="button is-light">
                  <strong><%= link_to 'Log in', login_path %></strong>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
